@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .heroButton {
        padding: 6px 24px;
        border: 1px solid #242424;
        border-radius: 9999px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        color: #555555;
        transition: all 0.3s;
    }

    .heroButton:hover {
        border-color: rgba(247, 171, 10, 0.4);
        color: rgba(247, 171, 10, 0.4);
    }

    .contactInput{
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-4 py-2 border-[#242424]
        text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40
        focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40
    }
}